[Unit]
Description=Piot2 client service
#Wants=piot2-client.timer

[Service]
Type=oneshot
User=__piot2
ExecStart=/opt/piot2/piot2-ctrl.sh client-hook

[Install]
WantedBy=multi-user.target
