Source: piot2
Section: admin
Priority: optional
Maintainer: Alex Fomins <afomins@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/afomins/piot

Package: piot2
Architecture: all
Depends: ${shlibs:Depends}, python3 (>=3.6), jq (>=1.5), sqlite3 (>=3.22.0)
Description: Collect sensor data and store it in PIOT DB
