#!/usr/bin/make -f

export DESTROOT=$(CURDIR)/debian/piot2

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	dh_installdirs etc/systemd/system
	dh_installdirs opt/piot2/hooks
	dh_installdirs opt/piot2/cfg

	install -p -m 0644 etc/systemd/system/* $(DESTROOT)/etc/systemd/system/
	install -p -m 0755 scripts/* $(DESTROOT)/opt/piot2/
	install -p -m 0755 hooks/* $(DESTROOT)/opt/piot2/hooks/
	install -p -m 0640 cfg/* $(DESTROOT)/opt/piot2/cfg/
	dh_link opt/piot2/piot2-ctrl.sh usr/bin/piot2-ctrl
