[Unit]
Description=Piot2 server hook timer
Requires=piot2-server-hook.service

[Timer]
Unit=piot2-server-hook.service
OnCalendar=*-*-* *:*:00
AccuracySec=5sec

[Install]
WantedBy=timers.target
