[Unit]
Description=Piot2 server service
#Wants=piot2-server.timer

[Service]
Type=oneshot
User=XXpiot2XX
ExecStart=/opt/piot2/piot2-ctrl.sh hook-server

[Install]
WantedBy=multi-user.target
