[Unit]
Description=Piot2 client service
#Wants=piot2-client.timer

[Service]
Type=oneshot
User=XXpiot2XX
ExecStart=/opt/piot2/piot2-ctrl.sh hook-client

[Install]
WantedBy=multi-user.target
